<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PaylorBoards.Properties.Settings.Автоматизация_расчетов_заработной_платыConnectionString"
            connectionString="Data Source=DESKTOP-01NBI9M\SQLEXPRESS;Initial Catalog=&quot;Автоматизация расчетов заработной платы&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>